{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Foodissimo is more than just a food discovery platform.{% endblock title %}</h2>
{% endblock header %}

{% block content %}
<div class="container text-center">
        <div class="row align-items-center gx-5">
          <div class="col">
            <span class="animate-on-scroll">
              <img src="../../static/images/Our-Journey-07-06-2025.png" id="our-journey-img-main" class="img-fluid" alt="Our Journey">
            </span>
          </div>
        </div>
      </div>
      <div class="container text-center">
        <div class="row align-items-center gx-5">
          <div class="col-sm-12 col-md-4">
            <span class="animate-on-scroll">
              Our mission is simple: to create a space where restaurants and customers collaborate.
               Diners can share their honest experiences and suggestions, while restaurants can listen, 
               improve, and build stronger relationships with their community. 
               With Foodissimo, great food comes with great conversation.
            </span><br>
            <span class="animate-on-scroll">
              Are you a restaurant owner who's ready to connect with your customers in a new way?
              Or do you know a local gem that deserves the spotlight?<br>
              <a href="{{ url_for('pages.contact') }}">Get in touch</a>
            </span>
          </div>
          <div class="col-sm-12 col-md-8 p-3">
            <img src="https://images.pexels.com/photos/1546039/pexels-photo-1546039.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="img-fluid" alt="The statue of Nikaia in the middle of the Theater looking over the sea.">
          </div>
        </div>
      </div>


{% endblock content %}