{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}June's Spotlight{% endblock title %}</h2>
{% endblock header %}

{% block content %}
<div class="container text-center">
        <div class="row align-items-center gx-5">
          <div class="col-sm-12 col-md-8 p-3">
            <img src="https://images.pexels.com/photos/913816/pexels-photo-913816.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="img-fluid" alt="Sea food on a plate">
          </div>
          <div class="col-sm-12 col-md-3">
            This June, Foodissimo is all about indulgence, and what better way to celebrate than with fresh,
             handcrafted donuts? We're thrilled to feature The Donut Stop, 
            a cozy neighborhood gem serving up delicious, inventive donuts made with love.
          </div>
        </div>
  </div>
  <section>
    <a href="{{ url_for('posts.create') }}" class="btn btn-primary my-3">Leave your Feedback</a>
  </section>
    {% for post in posts %}
    <article>
      <p class="message">{{ post["message"] }}<p>
      <!-- display the actual field (the username) of the user, not the object itself. -->
      <aside>Posted by {{ post.author.username }} on {{ post["created"].strftime("%b %d, %Y at %I:%M%p") }}
        <a href="{{ url_for('posts.edit', post_id=post.id) }}">Edit</a>
      <!-- form that route to the delete def in posts.py -->
      <form action="{{ url_for('posts.delete', post_id=post.id) }}" method="post" class="d-inline form-no-bg">
        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
      </form>
      </aside>
    </article>
  {% endfor %}
{% endblock content %}